!/gradlew.bat
/beam/build/
/app/build/
/kafka/build/
/beam/src/main/resources/application.properties
/beam/build/
/beam/build/
.idea
.gradle
/build
containers
.idea
/containers/.dockerbuild

# Ignore everything in the docs directory
docs/*

# But not these folders and their contents
!docs/beam/
!docs/generics/
!docs/gradle/

local_history.patch