!/gradlew.bat
/beam/build/
/app/build/
/kafka/build/
/beam/src/main/resources/application.properties
/beam/build/
/beam/build/
/grpc/build/
.idea
.gradle
/build
containers
.idea
/containers/.dockerbuild.md

# Ignore everything in the docs directory
docs/*

# But not these folders and their contents
!docs/beam/concepts.md
!docs/beam/interface.md
!docs/beam/testing
!docs/grpc
!docs/generics/
!docs/gradle/
!docs/README.md
!docs/eventstreaming_beam_kafka_flink_kotlin.png

local_history.patch