<configuration>
    <!-- ConsoleAppender sends logged messages to the console -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Pattern layout for logging. %d is the date, %logger is the logger name, %M is the method name, %msg is the message -->
            <pattern>%d{dd-MMM-yy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %M - %msg%n</pattern>

        </encoder>
    </appender>
    <!-- Root logger configuration -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

        <!--
        import io.github.oshai.kotlinlogging.KotlinLogging

        private val logger = KotlinLogging.logger { }


        build.gradle.kts for adding Logging

        //  api("org.slf4j:slf4j-simple:2.0.3")                     // Simple Logging
        //  implementation("ch.qos.logback:logback-classic:1.4.11") // Logging with Time and Powerful
        api("io.github.oshai:kotlin-logging-jvm:5.1.0")

        NOTE: If runtime Warning occurs for Logback and Slf4j when using Logback - check deps for usage of Slf4j

        Check if any Transitive Dependency has slf4j





        -->